.aboutme {
  text-align: center;
}
.card-deck{
    bottom-margin: 10px;
}
.nav-right {
  float: right;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* 
.head {
   height: 100vh;
} */
/* .content {
  vertical-align: middle;
} */
